<h1>{{title}}</h1>
<hr>
<div class="container">
  <h1>Registration Form</h1>
  <hr>
  <form #signupForm="ngForm" (submit)="getFormData(signupForm.value)">
    <div>
      <label for="name">Name : </label>
      <input type="text" name="name" autocomplete="off" id="name" ngModel>
    </div>
    <div>
      <label for="age">Age : </label>
      <input type="text" name="age" id="age" ngModel>
    </div>
    <div>
      <label for="phone">Phone : </label>
      <input type="text" name="phone" id="phone" ngModel>
    </div>
    <div>
      <label for="gender">Gender : </label>
      Male : <input type="radio" name="gender" id="male" value="male" ngModel>
      Female : <input type="radio" name="gender" id="female" value="female" ngModel>
    </div>
    <div>
      <label for="email">Email : </label>
      <input type="email" name="email" id="email" ngModel>
    </div>
    <div>
      <label for="password">Password : </label>
      <input type="password" name="password" id="password" ngModel>
    </div>
    <div>
      <label for="confirm password">Confirm Password : </label>
      <input type="password" name="confirm password" id="confirm password" ngModel>
    </div>
    <div>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </div>
  </form>
</div>